/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    padding:20px
}

.signup-center{
    margin:0 auto;
    width:80%;
   
}

table.table-hover tbody tr:hover{
    cursor: pointer;
}

input {font-weight:bold;}

